form {
    padding: 2em 0 2em 0;
    display: flex;
    margin-left: 35%;
    margin-right: 35%;
}
    input {
        margin-right: 5px;
        padding: 5px;
        border-radius: 4px;
    }
    button {
        padding: 10px;
        border-radius: 4px;
        box-shadow: 3px 3px 3px rgb(54, 54, 54);
    }
    button:active {
        transform: translate(3px, 3px);
        box-shadow: none;
    }
