.App-title {
  background-image: linear-gradient(to left, rgb(1, 207, 197), rgb(0, 119, 255));
  display: inline-flex;  
  margin-left: calc(50% - 4.55em);
  color: transparent;
  -webkit-background-clip: text;
  margin-top: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App-header>p {
  text-align: center;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.App-header {
  background-color: rgb(255, 153, 0);
}

.App-content {
  background-color: orange;
}

html {
  background-color: orange;
}